<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >smoke_free</mat-icon
              >
            </div>
            <p class="card-category">Smoke Detector</p>
            <h3 class="card-title">no smoke found</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">date_range</i>
              <a href="javascript:void(0)">Last 24 hours</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >whatshot</mat-icon
              >
            </div>
            <p class="card-category">Flame Detector</p>
            <h3 class="card-title">no flame found</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >opacity</mat-icon
              >
            </div>
            <p class="card-category">Water sensor</p>
            <h3 class="card-title">75</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >device_hub</mat-icon
              >
            </div>
            <p class="card-category">Followers</p>
            <h3 class="card-title">+245</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >device_hub</mat-icon
              >
            </div>
            <p class="card-category">Followers</p>
            <h3 class="card-title">+245</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
              <a href="javascript:void(0)">Last 24 hours</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >device_hub</mat-icon
              >
            </div>
            <p class="card-category">Revenue</p>
            <h3 class="card-title">$34,245</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
              <a href="javascript:void(0)">Last 24 hours</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >device_hub</mat-icon
              >
            </div>
            <p class="card-category">Fixed Issues</p>
            <h3 class="card-title">75</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
              <a href="javascript:void(0)">Last 24 hours</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >device_hub</mat-icon
              >
            </div>
            <p class="card-category">Motion Sensor</p>
            <h3 class="card-title">motion detected in the past 24 hours</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
              <a href="javascript:void(0)">Last 24 hours</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <h1>Property Name</h1>
          </div>
          <div class="card-body">
            <h4 class="card-title">Property Details</h4>
            <div style="display: flex; justify-content: space-evenly">
              <img
                src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              />
              <div>
                <div style="display: flex">
                  <h1>Name:</h1>
                  <h2 class="card-category">dar zina</h2>
                </div>
                <div style="display: flex">
                  <h1>Home description:</h1>
                  <h2 class="card-category">this house is so amazing</h2>
                </div>
                <div style="display: flex">
                  <h1>Night Price:</h1>
                  <h2 class="card-category">100 dt</h2>
                </div>
                <div style="display: flex">
                  <h1>Property Location:</h1>
                  <h2 class="card-category">Tunis</h2>
                </div>
                <div style="display: flex">
                  <h1>Availability:</h1>
                  <h2 class="card-category">Available until 20/20/20</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Your Reservations</h4>
            <p class="card-category">
              A list of all the reservations for your home
            </p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-primary">
                <th>Name</th>
                <th>Reservation Date</th>
                <th>Reservation Request Date</th>
              </thead>
              <tbody>
                <tr *ngFor="let home of this.data; let index = i">
                  <td>{{ home.reservations.reservatiorName }}</td>
                  <td>ddkbd</td>
                  <td>
                    <button
                      mat-raised-button
                      type="submit"
                      class="btn btn-danger"
                    >
                      Accept the reservation
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
